# Enable Rewrite Engine
RewriteEngine On

# Exclude paths for CSS, JavaScript, images, and other assets
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot)$ [NC]

# Redirect requests to their .html equivalents
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
